<div class="imok-view-container">
  <div *ngIf="slaves !== null">
    <div *ngIf="!slaves.length" class="no-slaves imok-view-padding">
      Brak podopiecznych. Kliknij przycisk poniżej aby utworzyć jednego z nich!
      <button mat-stroked-button color="white" (click)="goToCreateNewSlaveView();">
        Utwórz podopiecznego
      </button>
    </div>
    <div *ngIf="!!slaves.length" class="slaves-list imok-view-padding">
      <app-slave-dashboard-list-element
        *ngFor="let slave of slaves"
        [slave]="slave"
      ></app-slave-dashboard-list-element>
    </div>
  </div>
</div>

