<div class="imok-view-container">
  <div *ngIf="slaves !== null">
    <div *ngIf="!slaves.length" class="no-slaves imok-view-padding">
      Brak podopiecznych. Kliknij przycisk poniżej aby utworzyć jednego z nich!
      <button mat-stroked-button color="white" (click)="goToCreateNewSlaveView();">
        Utwórz podopiecznego
      </button>
    </div>
    <div *ngIf="!!slaves.length" class="slaves-list imok-view-padding">
      <div *ngFor="let slave of slaves" class="slave-container">
        <span class="slave-name">{{ slave.name }}</span>
        <div class="slave-edit-container">
          <div class="slave-edit-button" >
            <button mat-mini-fab color="white" (click)="goToEdit(slave.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

