<div class="imok-view-container">
  <div class="flex-container">
    <div class="flex-container-width-100-procent-wrapper">
      <form class="imok-form" [formGroup]="passwordResetForm" (ngSubmit)="submitLogin(passwordResetForm.value)">
        <fieldset>
          <mat-form-field class="input-blue">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <div class="password-reset-button-container">
            <button class="button-create-master imok-button-min-width" mat-flat-button color="blue" type="submit" [disabled]="passwordResetForm.invalid">Zresetuj hasło</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
