<div class="imok-view-container">
    <div class="width-100-procent-wrapper" style="padding-top: 10px;">
      <form class="imok-form" *ngIf="slaveManageForm" [formGroup]="slaveManageForm" (ngSubmit)="submitManageSlave(slaveManageForm.value)">
        <fieldset>
          <mat-form-field class="input-blue">
            <mat-select class="input-blue" placeholder="Aktywny" formControlName="is_active">
              <mat-option [value]="true">Tak</mat-option>
              <mat-option [value]="false">Nie</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input-blue">
            <mat-select class="input-blue" placeholder="Interwał potwierdzania" formControlName="interval">
              <mat-option *ngFor="let interval of intervals" [value]="interval.seconds">{{interval.text}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-manage-slave-container">
            <button class="button-manage-slave imok-button-min-width" mat-flat-button color="blue" type="submit">Aktualizuj</button>
          </div>
        </fieldset>
      </form>
    </div>
</div>
