@import '../../../../css/variables';

#menu-icon-container {
  position: absolute;
  top:0;
  left: 0;
  width: 60px;
  height: 60px;
  padding: 10px;

  #menu-icon {
    position: absolute;
    top: 19px;
    left: 20px;
  }
}

#side-menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $imok-black;
  margin-left: -100%;
  opacity: 0;
  transition: opacity .15s linear;

  &.side-menu-opened {
    margin-left: 0;
    opacity: 0.5
  }
}

#side-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: $imok-green;
  margin-left: -80%;
  transition: margin-left .15s linear;

  &.side-menu-opened {
    margin-left: 0;
  }
}

#settings-logout-container {
  display: flex;
  flex-direction: row;
  > div {
    flex: 1;
    height:60px;
    button {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
      border-bottom: 1px solid $imok-line-separator;
      overflow: hidden;

      &#button-settings {
        border-right: 1px solid $imok-line-separator
      }

      svg {
        margin-right: 10px;
      }
    }
  }
}

#menu-list-container {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;

      button {
        width: 100%;
        height: 48px;
        text-align: left;
        border-radius: 0;
        border-top: 1px solid  $imok-line-separator;
        overflow: hidden;

        &#button-slaves {
          border-bottom: 1px solid  $imok-line-separator;
        }

        svg {
          margin-right:10px;
        }
      }
    }

  }
}


