@import 'variables';

/** material **/
button {
  box-shadow: none !important;

  &.mat-green {
    color: $imok-white;
    background-color: $imok-green;
  }

  &.mat-blue {
    color: $imok-white;
    background-color: $imok-blue;
  }

  &.mat-white {
    color: $imok-black;
    background-color: $imok-white;
  }
  &.mat-stroked-botton.mat-white {
    height: 38px;
  }

  &.imok-button-min-width {
    min-width: $imok-button-min-width;
  }

  &.mat-mini-fab.mat-white {
    border: 1px solid $imok-border-white;
  }
}

.input-blue {
  &.mat-focused {
    .mat-form-field-label {
      color: $imok-blue !important;
    }
    .mat-form-field-underline span {
      background: $imok-blue !important;
    }
  }
}

/** forms **/
.imok-form {
  fieldset {
    border: none;

    mat-form-field {
      width:100%;
    }
  }
}

/** other globals**/
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  > .flex-container-width-100-procent-wrapper {
    width:100%;
  }
}

.imok-header {
  position: fixed;
  width: 100%;
  height: $imok-header-height;
  background-color: $imok-green;
  text-align: center;
  color: $imok-white;
  font-size: $imok-font-size-header;
  line-height: $imok-header-height;
}
.imok-view-container {
  margin-top: $imok-header-height;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.imok-view-padding {
  padding:20px;
}
