$imok-green: #0EBE2C;
$imok-green-light: #34DA4F;
$imok-green-lighter: #5CF777;
$imok-white: #FFFFFF;
$imok-black: #000000;
$imok-blue: #106cc8;

$imok-font-size-header: 24px;
$imok-font-size: 13px;

$imok-button-min-width: 100px !important;

$imok-header-height: 60px;
