.edit-slave-button-container {
  margin-top: 50px;
  button {
    width: 100%;
  }
}

.logout-slave-button-container {
  margin-top:10px;
  visibility: visible;
  &.is-not-visible {
    visibility: hidden;
  }
  button {
    width: 100%;
  }
}
